{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {% if response.results %}
      {% for movie in response.results %}
        <p>
          <a href="{{url_for('search_movie', movie_id=movie.id)}}"> {{movie.title}} - {{movie.release_date or '(Release Date Unknown)'}}</a>
        </p>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger" role="alert">
        Uh oh! We couldn't find any movies with that name. Please try again.
      </div>
    {% endif %}

</div>
{% endblock %}